.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(182, 117, 117, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 60px;
  flex-wrap: nowrap;
  overflow-x: auto;
  top :0;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 30px;
  height: 30px;
}

.brand {
  font-weight: bold;
  font-size: 1.2rem;
  color: #444;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  gap: 0.5rem;
}

.btn {
  background: none;
  border: 1px solid #007bff;
  color:rgb(46 102 157);
  padding: 6px 15px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(46 102 157);
  color: white;
}

.primary {
  background-color: rgb(87, 134, 181);
  color: white;
  border: none;
}
